{{ define "main" }}
{{ partial "page-hero.html" . }}
<div class="page-body">
<div class="page-body-inner">
<article class="prose">
  {{ with .Params.subtype }}<span class="badge badge-current">{{ . }}</span>{{ end }}
  {{ with .Params.license }}<span class="badge badge-completed">{{ . }}</span>{{ end }}

  {{ .Content }}

  {{ with .Params.repo }}
  <p><strong>Repository:</strong> <a href="{{ . }}" target="_blank">{{ . }}</a></p>
  {{ end }}
  {{ with .Params.citation }}
  <p><strong>Citation:</strong> {{ . }}</p>
  {{ end }}
</article>
</div>
</div>
{{ end }}
