{{ $thumb := .Params.image }}
{{ if not $thumb }}{{ with .Params.images }}{{ $thumb = index . 0 }}{{ end }}{{ end }}
<div class="news-item">
  {{ with $thumb }}
  <a class="news-thumb-link" href="{{ $.Permalink }}">
    <img class="news-thumb" src="{{ . }}" alt="" loading="lazy">
  </a>
  {{ end }}
  <div class="news-body">
    <span class="news-date">{{ .Date.Format "2 Jan 2006" }}</span>
    {{ with .Params.category }}<span class="news-category">{{ . }}</span>{{ end }}
    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    {{ with .Params.summary }}<p>{{ . }}</p>{{ end }}
  </div>
</div>
